* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1742403949587-42a767b9ea5b?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
  .container {
    padding: 25px;
    border-radius: 10px;
    /* border: 2px solid red; */
    max-width: 700px;
    width: 100%;
    text-align: center;
  }

  h1,
  h2 {
    color: #333;
    text-shadow: 2px 2px 5px lightgray;

  }
  input,
  select,
  button {
    width: 100%;
    padding: 9px;
    margin: 10px 0;
    border: none;
    border-radius: 12px;
    outline: none;
  }
  
  .button p {
    z-index: 1;
  }
  
  .button:hover {
    color: #212121;
  }
  
  .button:active {
    border-color: teal;
  }
  
  .button::after, .button::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: mediumspringgreen;
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
  }
  
  .button::before {
    left: 0;
    transform: translateX(-8em);
  }
  
  .button::after {
    right: 0;
    transform: translateX(8em);
  }
  
  .button:hover:before {
    transform: translateX(-1em);
  }
  
  .button:hover:after {
    transform: translateX(1em);
  }
  
  .button:active:before,
  .button:active:after {
    background: teal;
  }


  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #e0e0e0;
    border-radius: 12px;
    overflow: hidden;
  }
  
  th,
  td {
    padding: 12px;
    text-align: left;
  }
  th {
    background-color: #d1d9e6;
    border-radius: 10px;
  }
  
  canvas {
    margin-top: 20px;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 5px 5px 10px #a3b1c6, -5px -5px 10px #ffff;
  }